<md-card class="col-sm-6">
    <md-card-content>
  <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
      Ethnicity Population By Local Boards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-population-by-ethnicity></app-population-by-ethnicity>
      </mat-expansion-panel>
    </md-card-content>
</md-card>
