<md-card class="col-sm-6">
    <md-card-content>
  <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Population By Age
          </mat-panel-title>
          <mat-panel-description>
          All Local Boards
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-age></app-population-by-age>
      
      </mat-expansion-panel>
    </md-card-content>
</md-card>
