
      <div *ngIf="categorySelection && yearSelection && populateData">
        <br>
        <label>Select year</label>
        <select placeholder="selectedYear" class='form-control' (change)="changeYear($event.target)">
          <option *ngFor="let yearOption  of yearSelection" [value]="yearOption.value">{{yearOption.display}}</option>
        </select>
        <br>
        <label>Select Component</label>
        <select placeholder="selectedCategory" class='form-control' (change)="changeCategory($event.target)">
          <option *ngFor="let categoryOption  of categorySelection" [value]="categoryOption.value">{{categoryOption.display}}</option>
        </select>
      </div>
    <br>
      <div *ngIf="chartData && chartLabels">
        <div style="display: block" *ngIf="chartLabels">
          <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType"
            [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    