<md-card class="col-sm-6">
    <md-card-content>
  <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
         Components of Population Change
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-population-by-migration></app-population-by-migration>
      </mat-expansion-panel>
    </md-card-content>
</md-card>
