<mat-tab-group class="tab-group">
<!-- 1st tab -->
<mat-tab label="Population" class="tab-label">
  <br>

  <!-- Yearly Comparison between local boards -->
  <md-card class="col-sm-12">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Annual Population Change
          </mat-panel-title>
          <mat-panel-description>
            Population throughout the years
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-yearly-comparison></app-population-by-yearly-comparison>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>


  <!-- Yearly selection -->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Yearly Population of Local Boards
          </mat-panel-title>

        </mat-expansion-panel-header>
        <app-population-yearly></app-population-yearly>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>

  <!-- Migration StackedChart -->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Components of Population Change
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-population-by-migration-stackedchart></app-population-by-migration-stackedchart>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>


  <!-- Migration Comparison -->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Components of Population Change
          </mat-panel-title>
          <mat-panel-description>
            Comparison between Local Boards
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-migration-comparison></app-population-by-migration-comparison>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>



  <!-- By Age Comparison -->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Population Age Groups
          </mat-panel-title>
          <mat-panel-description>
            Comparison between Local Boards
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-age-comparison></app-population-by-age-comparison>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>


  <!-- By Age year and age group -->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Population Age Groups of Local Boards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-population-by-age></app-population-by-age>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>



  <!-- Ethnicity Comparison -->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Population By Ethnicity
          </mat-panel-title>
          <mat-panel-description>
            Comparison between Local Boards
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-ethnicity-comparison></app-population-by-ethnicity-comparison>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>

  <!-- Ethnicity Selection-->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Population By Ethnicity
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-population-by-ethnicity-selection></app-population-by-ethnicity-selection>
      </mat-expansion-panel>
    </md-card-content>
  </md-card>

</mat-tab>
  

  <!-- 2nd tab -->
  <mat-tab label="Early Learning" class="tab-label">
    <br>
    <!-- Population Estimates of 0-4 -->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Population Aged 0-4 years (Estimates) By Local Board
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-earlylearning-by-ages-estimates></app-earlylearning-by-ages-estimates>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>

    <!-- 0-4 Projections -->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Population Aged 0-4 years (Projections) By Local Board
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-earlylearning-by-ages-projections></app-earlylearning-by-ages-projections>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>

    <!-- Early learning Ethnicity -->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Prior Participation in ECE by Ethnic Group
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-earlylearning-by-ethnicity></app-earlylearning-by-ethnicity>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>
  </mat-tab>


  <!-- 3rd tab -->
  <mat-tab label="Highest Attainment" class="tab-label">
    <br>

    <!-- Girls standards Reading-->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Girls National Standards
            </mat-panel-title>
            <mat-panel-description>
              Reading
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-natstandards-girls-reading></app-natstandards-girls-reading>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>


    <!-- Boys standards Reading-->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
             Boys National Standards
            </mat-panel-title>
            <mat-panel-description>
              Reading
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-natstandards-boys-reading></app-natstandards-boys-reading>
            </mat-expansion-panel>
      </md-card-content>
    </md-card>

      <!-- Girls standards Writing-->
      <md-card class="col-sm-6">
        <md-card-content>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Girls National Standards
              </mat-panel-title>
              <mat-panel-description>
              Writing
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-natstandards-girls-writing></app-natstandards-girls-writing>            
          </mat-expansion-panel>
        </md-card-content>
      </md-card>
      
      <!-- Boys standards Writing-->
      <md-card class="col-sm-6">
        <md-card-content>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
               Boys National Standards
              </mat-panel-title>
              <mat-panel-description>
              Writing
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-natstandards-boys-writing></app-natstandards-boys-writing>      
          </mat-expansion-panel>
        </md-card-content>
      </md-card>
      


            <!-- Girls standards Math-->
            <md-card class="col-sm-6">
              <md-card-content>
                <mat-expansion-panel expanded="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Girls National Standards
                    </mat-panel-title>
                    <mat-panel-description>
                 Mathematics
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-natstandards-girls-math></app-natstandards-girls-math>                  
                </mat-expansion-panel>
              </md-card-content>
            </md-card>

     <!-- Boys Standards Math-->
     <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            Boys National Standards
            </mat-panel-title>
            <mat-panel-description>
         Mathematics
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-natstandards-boys-math></app-natstandards-boys-math>    
        </mat-expansion-panel>
      </md-card-content>
    </md-card>
   

    <!-- Nat Standards Yr 8 -->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              % of Year 8 Students Achieving At or Above in National Standards
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-natstandards-yr8></app-natstandards-yr8>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>


    <!-- School Leavers -->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              School Levears By Qualification
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-schoolleavers></app-schoolleavers>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>


  </mat-tab>

<!-- 4th tab -->
  <mat-tab label="Transition" class="tab-label">
    <br>
    <!-- Transition1 18 years old qualification-->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              18 years old with Level 2 or above qualifications
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-transition1></app-transition1>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>

    <!-- Transition2 qualifications of local boards-->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Qualifications within each Local Board
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-transition2></app-transition2>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>

  </mat-tab>

  <!-- 5th tab -->

  <mat-tab label="Skills and Work" class="tab-label">
    <br>
    <!-- Skills and work1 labour force-->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              People Employed, Unemployed and Not in a Labour Force
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-skillsandwork1></app-skillsandwork1>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>


    <!-- skills and work2 labour force rates-->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Labour Force, Employment, Unemployment Rate
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-skillsandwork1-rate></app-skillsandwork1-rate>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>


    <!-- Skills and work 2 -->
    <md-card class="col-sm-6">
      <md-card-content>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
            Youths Not in Employment, Education and Training
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-skillsandwork2></app-skillsandwork2>
        </mat-expansion-panel>
      </md-card-content>
    </md-card>

 <!-- Youth labour force rate -->
  <md-card class="col-sm-6">
    <md-card-content>
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
          Youths Not in Employment, Education and Training Rate
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-youthlabourforcerate></app-youthlabourforcerate>        
      </mat-expansion-panel>
    </md-card-content>
  </md-card>
</mat-tab>

  

</mat-tab-group>