<div *ngIf="categorySelection && yearSelection && populateData">
  <div>
    <div>
      <br>
      <label>Select year</label>
      <select placeholder="selectedYear" class='form-control' (change)="changeYear($event.target)">
    <option *ngFor="let yearOption  of yearSelection" [value]="yearOption.value">{{yearOption.display}}</option>
  </select>
    </div>
    <br>
    <div *ngIf="chartData">
      <div style="display: block" *ngIf="chartLabels">
        <canvas baseChart height="150" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
          [chartType]="chartType" [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>