<md-card class="col-sm-6">
      <md-card-content>
    <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
          Population Age Groups of Local Boards
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-population-by-age></app-population-by-age>
        </mat-expansion-panel>
      </md-card-content>
  </md-card>
  