<md-card class="col-sm-12">
    <md-card-content>
  <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
          Annual Population Change
          </mat-panel-title>
          <mat-panel-description>
         Population throughout the years
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-yearly-comparison></app-population-by-yearly-comparison>
      </mat-expansion-panel>
    </md-card-content>
</md-card>
