<md-card class="col-sm-6">
    <md-card-content>
  <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
 Components of Population Change
          </mat-panel-title>
          <mat-panel-description>
            Comparison between Local Boards
             </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-migration-comparison></app-population-by-migration-comparison>
      </mat-expansion-panel>
    </md-card-content>
</md-card>

