<md-card class="col-sm-6">
    <md-card-content>
  <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
Population Age Groups
          </mat-panel-title>
          <mat-panel-description>
            Comparison between Local Boards
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-population-by-age-comparison></app-population-by-age-comparison>
      </mat-expansion-panel>
    </md-card-content>
</md-card>
