<md-card class="col-sm-6">
    <md-card-content>
  <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
  Yearly Population of Local Boards
          </mat-panel-title>

        </mat-expansion-panel-header>
        <app-population-yearly></app-population-yearly>
      </mat-expansion-panel>
    </md-card-content>
</md-card>
