<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!-- <div style="text-align:center" class="pageHeader">
        <h1>
           {{title}}
        </h1>
      </div>
    -->
  <div>

    <mat-toolbar color="primary">

      <div class="homeButton">
            <span class="companyName"><a href="http://www.cometauckland.org.nz/"> COMET Auckland </a></span>
      </div> 
    </mat-toolbar>




    <div *ngIf="chartConfigService.chartConfigData
    && chartDataService.populationByAgeData
    && chartDataService.populationYearlyData
    && chartDataService.populationMigrationData
    && chartDataService.populationEthnicityData
    && chartDataService.earlyLearningByAgesEstimateData
    && chartDataService.earlyLearningByAgesProjectionData
    && chartDataService.earltyLearningByEthinicityData
    && chartDataService.natStandardsBoysMathData
    && chartDataService.natStandardsBoysReadingData
    && chartDataService.natStandardsBoysWritingData
    && chartDataService.natStandardsGirlsMathData
    && chartDataService.natStandardsGirlsReadingData
    && chartDataService.natStandardsGirlsWritingData
    && chartDataService.schoolLeaversData
    && chartDataService.skillsAndWorkLabourForceData
    && chartDataService.skillsAndWorkYouthLabourForceData
    && chartDataService.transition18QualiData
    && chartDataService.transitionHighestQualiData
    && chartDataService.natStandardsYr8Data
    ">
      <app-tabs></app-tabs>
    </div>

  </div>