<div *ngIf="categorySelection && populateData">
  <div>
    <br>
    <label>Select area</label>
    <select placeholder="selectedCategory1" class='form-control' (change)="changeCategory1($event.target)" [(ngModel)]="selectedCategory1">
          <option *ngFor="let categoryOption  of categorySelection" [value]="categoryOption.value">{{categoryOption.display}}</option>
        </select>
    <br>
    <label>Compare area with</label>
    <select placeholder="selectedCategory2" class='form-control' (change)="changeCategory2($event.target)" [(ngModel)]="selectedCategory2">
          <option *ngFor="let categoryOption  of categorySelection" [value]="categoryOption.value">{{categoryOption.display}}</option>
        </select>
  </div>
  <br>
  <div *ngIf="chartData && chartLabels">
    <canvas baseChart height="50" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
      [chartType]="chartType" [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>