<div *ngIf="categorySelection && yearSelection && populateData">
    <div>
      <br>
      <label>Select year</label>
      <select placeholder="selectedYear" class='form-control' (change)="changeYear($event.target)">
          <option *ngFor="let yearOption  of yearSelection" [value]="yearOption.value">{{yearOption.display}}</option>
        </select>
      <br>
      <label>Select area</label>
      <select placeholder="selectedCategory1" class='form-control' (change)="changeCategory1($event.target)" [(ngModel)]="selectedCategory1">
          <option *ngFor="let categoryOption  of categorySelection" [value]="categoryOption.value">{{categoryOption.display}}</option>
        </select>
    </div>
    <br>
    <div *ngIf="chartData && chartLabels">
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType"
        [colors]="chartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>