<md-card class="col-sm-6">
    <md-card-content>
  <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
Population By Ethnicity
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-population-by-ethnicity-selection></app-population-by-ethnicity-selection>
      </mat-expansion-panel>
    </md-card-content>
</md-card>
